body {
  background: lavenderblush;
}

.App {
  padding: 60px 0 100px;
  max-width: 950px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  font-size: 500%;
  font-family: "Fuggles", cursive;
  font-family: "Amatic SC", cursive;
}

.App-name {
  text-align: center;
  font-size: 40px;
  font-family: "Amatic SC", cursive;
  line-height: 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
